a {
    text-decoration: none;
    color: black;
}
.menu {
    position: fixed; 
    left: 0px; 
    width: 100%; 
    height: 50px; 
    z-index: 100; 
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.top_menu_1 {
    top: 0px;
}
.top_menu_1 .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
}
.top_menu_1 img {
    height: 30px;
}
.search_container {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid black;
}
.search_container input[type="text"] {
    width: 80%;
    height: 30px;
}
.bottom_menu { 
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    height: 50px; 
    z-index: 100; 
    border-top: 1px solid rgba(0, 0, 0, 0.287); /*�׵θ��� ����.. ����*/
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
}
.bottom_menu > div { 
    text-align: center; 
}
.bottom_menu img {
    height: 30px;
}
.bottom_menu div span {
    display: block;
    font-size: 12px;
}
body {
    padding-top: 80px; /* to avoid content being hidden behind the top menus and search bar */
    padding-bottom: 60px; /* to avoid content being hidden behind the bottom menu */
}
.edit {
    background-color: rgb(81, 132, 221);
    color: white;
    padding: 0.7rem;
    border: 0px;
    border-radius: 100%;
    position: absolute;
    right: 1rem;
    bottom: 4rem;
    transition: 0.4s;
}
button:hover {
    opacity: 0.3;
}
.edit-img {
    width: 3rem;
}

/* <div class="col-md-4">
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">${Major} ${YearPart}</h5> <!-- 학과와 학번 표시 -->
        <p class="card-text"><strong>Gender:</strong> ${roommate.GENDER === 1 ? 'Male' : 'Female'}</p>
        <details>
            <summary>ㅎㅇ</summary
            <p class="card-text"><strong>Smoking:</strong> ${roommate.SMOKING === 1 ? 'Yes' : 'No'}</p>
            <p class="card-text"><strong>Drinking Frequency:</strong> ${roommate.DRINKING_FREQUENCY}</p>
            <p class="card-text"><strong>Sleep Pattern:</strong> ${roommate.SLEEP_PATTERN}</p>
            <p class="card-text"><strong>Sleep Habit:</strong> ${roommate.SLEEP_HABIT}</p>
            <p class="card-text"><strong>Guest Visit:</strong> ${roommate.GUEST_VISIT === 0 ? '불가능' : roommate.GUEST_VISIT === 1 ? '상관X' : '사전 허락'}</p>
        </details>
    </div>
</div>
</div> */

/* 게시물 css */
/* .card-text  */
