a {
    text-decoration: none;
    color: black;
    
}
.menu {
    position: fixed; 
    left: 0px; 
    width: 100%; 
    height: 50px; 
    z-index: 100; 
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.top_menu_1 {
    top: 0px;
}
.top_menu_1 .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
}
.top_menu_1 img {
    height: 30px;
}
.search_container {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid black;
}
.search_container input[type="text"] {
    width: 80%;
    height: 30px;
}
.bottom_menu { 
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    height: 90px; 
    padding-bottom: 20px;
    z-index: 100; 
    border-top: 1px solid rgba(0, 0, 0, 0.200);
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
}
.bottom_menu > div { 
    text-align: center; 
}
.bottom_menu img {
    height: 30px;
}
.bottom_menu div span {
    display: block;
    font-size: 12px;
}
body {
    padding-top: 80px; 
    padding-bottom: 60px;
}
.rmt_checklist_title, .rmt_checklist {
    display: flex;
    justify-content: left;
    margin: 0% 5% 0% 5%;
    flex-direction: column;
}
.rmt_checklist_title {
    font-size: larger;
    font-weight: bold;
    color: rgb(23, 51, 150);
    color: rgb(81, 132, 221);
    margin-bottom: 10px;
}
.rmt_checklist {
    color: white;

    background-color: rgb(81, 132, 221);
    border-radius: 40px;
    padding: 10px 50px 30px 50px;
    font-size: 1.3cap;
}
li {
    margin:15px 0px 15px 0px;
}
.gender {
    display: flex;
    align-items: center;
}


.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.35rem;
    width: 150px;
    font-size: 14px;
    margin: 10px;
}
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
} 
.radio-inputs .radio input {
    display: none;
}  
.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .3rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}
.radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
}
input[type="submit"] {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.input_label {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
}


.checkbox-wrapper-19 {
    box-sizing: border-box;
    --background-color: rgba(255, 255, 255, 0);
    --checkbox-height: 18px;
}
@-moz-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
  
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
}
@-webkit-keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
  
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
} 
@keyframes dothabottomcheck-19 {
    0% {
      height: 0;
    }
  
    100% {
      height: calc(var(--checkbox-height) / 2);
    }
}  
@keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
  
    50% {
      height: 0;
    }
  
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
}
@-webkit-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
  
    50% {
      height: 0;
    }
  
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
}
@-moz-keyframes dothatopcheck-19 {
    0% {
      height: 0;
    }
  
    50% {
      height: 0;
    }
  
    100% {
      height: calc(var(--checkbox-height) * 1.2);
    }
}  
.checkbox-wrapper-19 input[type=checkbox] {
    display: none;
}  
.checkbox-wrapper-19 .check-box {
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    background-color: transparent;
    border: calc(var(--checkbox-height) * .08) solid white;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}  
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(var(--checkbox-height) * .16);
    background-color: rgb(237, 100, 100);
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}  
.checkbox-wrapper-19 .check-box::before {
    top: calc(var(--checkbox-height) * .72);
    left: calc(var(--checkbox-height) * .41);
    box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}  
.checkbox-wrapper-19 .check-box::after {
    top: calc(var(--checkbox-height) * .37);
    left: calc(var(--checkbox-height) * .05);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}  
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
    border-color: white;
}  
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
    height: calc(var(--checkbox-height) / 2);
    -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
    animation: dothabottomcheck-19 0.2s ease 0s forwards;
}  
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
    height: calc(var(--checkbox-height) * 1.2);
    -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
    animation: dothatopcheck-19 0.4s ease 0s forwards;
}

.chk-label {
    margin-left: 5px;
    vertical-align: 3px;
}
.align-chkbox {
    display: flex;
}
.align-chkbox > div {
    margin-top: 3px;
    margin-right: 30px;
}

input[type="text"]::placeholder {
    color: rgba(128, 128, 128, 0.787);
}